<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>EMPLOYEE LIST</title>
	<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	
	<!-- ================== BEGIN core-css ================== -->
	<link href="assets/css/vendor.min.css" rel="stylesheet" />
	<link href="assets/css/app.min.css" rel="stylesheet" />
	<link href="assets/css/netlit_ems.css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
	
	<!-- ================== BEGIN page-css ================== -->
	<link href="assets/plugins/datatables.net-bs5/css/dataTables.bootstrap5.min.css" rel="stylesheet" />
	<link href="assets/plugins/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css" rel="stylesheet" />
	<link href="assets/plugins/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css" rel="stylesheet" />
	<link href="assets/plugins/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet" />
	<!-- ================== END page-css ================== -->

</head>
<body>
	<!-- BEGIN #app -->
	<div id="app" class="app">
		<div th:include="theme/header :: dynamicheaderFragment"></div>
		<div th:include="theme/sidenav :: sidenav"></div>		
		<!-- BEGIN #content -->
		<div id="content" class="app-content">
			<!-- BEGIN container -->
			<div class="container">
				<!-- BEGIN row -->
				<div class="row justify-content-center">
					<!-- BEGIN col-10 -->
					<div >
						<!-- BEGIN row -->
						<div class="row">
							<!-- BEGIN col-9 -->
							
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">EMPLOYEE MANAGEMENT</a></li>
									<li class="breadcrumb-item active">EMPLOYEE LIST</li>
								</ul>
								
								<h1 class="page-header">
									Employee Information
								</h1>
								
								<hr class="mb-4" />
								
								<!-- BEGIN #datatable -->
								<div id="datatable" class="mb-5">
									<div class="card">
										<div class="card-header">
										<a href="/addEmployee" class="btn btn-outline-theme btn-sm">Add Employee</a>
										</div>
										<div class="card-body">
											<table id="datatableDefault" class="table text-nowrap w-100">
												<thead>
													<tr>
														<th>#</th>
														<th>Name</th>
														<th>Designation</th>
														<th>Email</th>
														<th>Contact no</th>
														<th>Contract Status</th>
														<th>Info</th>														
													</tr>
												</thead>
												<tbody>				
													
													<tr th:each="emp,iterator : ${employees}">
														<td th:text="${iterator.index+1}">57</td>
														<td><a th:text="${emp.full_name}" href="#" class="text-white" th:emp-id="${emp.empid}" onclick="viewEmlpoyee(this);"></a></td>
														<td th:text="${emp.designation}">Customer Support</td>
														<td class="text-white" ><a class="text-white" th:href="'mailto:' + ${emp.email}" th:text="${emp.email}"></a></td>
														<td th:text="${emp.phone}">27</td>
														<td th:class="${emp.contact_status_str}" th:text=${emp.contact_remaining_period}>2011/01/25</td>
														<td>
														<a href="#" data-bs-toggle="dropdown" class=" text-opacity-50">
														<i
																class="fa fa-ellipsis-h"></i></a>
															<div class="dropdown-menu dropdown-menu-end">
																<a href="#" th:emp-id="${emp.empid}" onclick="viewEmlpoyee(this);" class="dropdown-item">View</a> 
																<a th:href="@{/editEmployee(empid=${emp.empid})}"
																  class="dropdown-item">Edit</a> 
																<a href="#" class="dropdown-item">Report</a>
															</div>
														
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										
									</div>
								</div>
								<!-- END #datatable -->
								
								
							</div>
							<!-- END col-9-->
							<!-- BEGIN col-3 -->
							
							<!-- END col-3 -->
						</div>
						<!-- END row -->
					</div>
					<!-- END col-10 -->
				</div>
				<!-- END row -->				

			<div class="modal fade" id="viewEmployee">
				<div class="modal-dialog modal-xl">
					<div class="modal-content">...</div>
				</div>
			</div>

			<!-- END container -->
		<!-- END #content -->
		
		<div th:include="theme/theme_util :: theme_util"></div>	
		
		
		
	</div>
	<!-- END #app -->
		<script type="text/javascript">
			function viewEmlpoyee(z) {
				$empid = $(z).attr("emp-id");
				//$('#viewEmployee').modal('show');

				$.ajax({
					url : "viewEmployee?empid=" + $empid,
					type : 'GET',
					success : function(data) {
						$('.modal-content').html(data);
						$('#viewEmployee').modal('show');
					},
					error : function(xhr, desc, err) {
						$('.modal-content').html(xhr.responseText);
						$('#viewEmployee').modal('show');

					}
				});
				//alert($empid);

			}
		</script>

		<!-- ================== BEGIN core-js ================== -->
	<div th:include="theme/footer::staticFooter"></div>
	<!-- ================== END core-js ================== -->
	
	<!-- ================== BEGIN page-js ================== -->
	<script src="assets/plugins/@highlightjs/cdn-assets/highlight.min.js"></script>
	<script src="assets/js/demo/highlightjs.demo.js"></script>
	<script src="assets/plugins/datatables.net/js/jquery.dataTables.min.js"></script>
	<script src="assets/plugins/datatables.net-bs5/js/dataTables.bootstrap5.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/buttons.colVis.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/buttons.flash.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/buttons.html5.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons/js/buttons.print.min.js"></script>
	<script src="assets/plugins/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js"></script>
	<script src="assets/plugins/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
	<script src="assets/plugins/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js"></script>
	<script src="assets/plugins/bootstrap-table/dist/bootstrap-table.min.js"></script>
	<script src="assets/js/demo/table-plugins.demo.js"></script>
	<script src="assets/js/demo/sidebar-scrollspy.demo.js"></script>
	<!-- ================== END page-js ================== -->
</body>
</html>
