<!DOCTYPE html>
<html lang="en">
<head th:include="theme/header :: staticheaderFragment"></head>
<body>
	<!-- BEGIN #app -->
	<div id="app" class="app app-content-full-height">		
		<div th:include="theme/header :: dynamicheaderFragment"></div>
		<div th:include="theme/sidenav :: sidenav"></div>		
		<!-- BEGIN #content -->
		<div th:include="ems/content/setting_content :: setting_content"></div>
		<!-- END #content -->
		<div th:include="theme/theme_util :: theme_util"></div>		
	</div>
	<!-- END #app -->	
	<div th:include="theme/footer::staticFooter"></div>	
</body>
</html>
