<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=US-ASCII"/>
<title th:utext="#{message.resetPassword}">reset</title>
	<!-- ================== BEGIN core-css ================== -->	
	<link  th:href="@{/assets/css/vendor.min.css}" type="text/css" rel="stylesheet" />
	<link th:href="@{/assets/css/app.min.css}" type="text/css" rel="stylesheet" />
	<!-- ================== END core-css ================== -->
</head>
<body class='pace-top'>
	<!-- BEGIN #app -->
	<div id="app" class="app app-full-height app-without-header">
		<!-- BEGIN register -->
		<div class="login">
			<!-- BEGIN login-content -->
			<div class="login-content">		
		      <form action="#">
		      	<h1 class="text-center">Reset Password</h1>
				<p class="text-white text-opacity-50 text-center">You will get an email with confirmation link.</p>
		        <div class="mb-3">
		        	<label class="col-sm-5" th:utext="#{label.user.email}">email</label>
		       		<span class="col-sm-5"><input class="form-control" id="email" name="email" type="email" value="" required="required" /></span>        
		        </div>
		        <div class="mb-3">
					<button type="submit"  class="btn btn-outline-theme btn-lg d-block w-100" th:utext="#{message.resetPassword}">Reset</button>
				</div> 
				<div class="text-white text-opacity-50 text-center">
					Already have an NetLit Account? <a th:href="@{/login}">Sign In</a>
				</div>
				<div class="text-white text-opacity-50 text-center">
					Create an NetLit Account <a th:href="@{/registration.html}">Sign Up</a>
				</div>       
		      </form>
	      </div>
	      <div th:insert="theme/theme_util::theme_util"></div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script th:inline="javascript">
var serverContext = [[@{/}]];

$(document).ready(function () {
	$('form').submit(function(event) {		
		$('#modal_processing').modal('show'); 
		resetPass(event);
    });
});

function resetPass(event){
    event.preventDefault();	
    var email = $("#email").val();
    $.post(serverContext + "user/resetPassword",{email: email} ,function(data){
            window.location.href = serverContext + "login?message=" + data.message;
    })
    .fail(function(data) {
    	if(data.responseJSON.error.indexOf("MailError") > -1)
        {
            window.location.href = serverContext + "emailError.html";
        }
        else{
            window.location.href = serverContext + "login?message=" + data.responseJSON.message;
        }
    });
}

$(document).ajaxStart(function() {
    $("title").html("LOADING ...");
});
</script>

</body>
<div th:include="theme/footer::staticFooter"></div>	

</html>