<!DOCTYPE html>
<html lang="en">
<head th:include="theme/header :: staticheaderFragment"></head>
<body class='pace-top'>
	<!-- BEGIN #app -->
	<div id="app" class="app app-full-height app-without-header">
		<!-- BEGIN error -->
		<div class="error-page">
			<!-- BEGIN error-page-content -->
			<div class="error-page-content">
				<div class="card mb-5 mx-auto" style="">
					<div class="card-body">
						<div class="card">
							<div class="error-code">Oops..!</div>
							<div class="card-arrow">
								<div class="card-arrow-top-left"></div>
								<div class="card-arrow-top-right"></div>
								<div class="card-arrow-bottom-left"></div>
								<div class="card-arrow-bottom-right"></div>
							</div>
						</div>
					</div>
					<div class="card-arrow">
						<div class="card-arrow-top-left"></div>
						<div class="card-arrow-top-right"></div>
						<div class="card-arrow-bottom-left"></div>
						<div class="card-arrow-bottom-right"></div>
					</div>
				</div>
				<h1 th:utext="#{message.sessionExpired}">Oops!</h1> 
				<h3 >We can't seem to find the page you're looking for</h3>
				
				<hr/>
				<a th:href="@{/login}" class="btn btn-outline-theme px-3 rounded-pill"><i class="fa fa-arrow-left me-1 ms-n1"></i> Go Back to Login</a>
			</div>
			<!-- END error-page-content -->
		</div>
		<!-- END error -->
		
		<div th:include="theme/theme_util :: theme_util"></div>
		
	</div>
	<!-- END #app -->
	
	<div th:include="theme/footer::staticFooter"></div>	
	
</body>
</html>
