

<html>

<head>
<meta charset="utf-8" />	
<title>Success</title>	
<link rel="icon" type="image/x-icon" href="assets/img/favicon.ico">
<!-- ================== BEGIN core-css ================== -->	
<link  th:href="@{/assets/css/vendor.min.css}" type="text/css" rel="stylesheet" />
<link th:href="@{/assets/css/app.min.css}" type="text/css" rel="stylesheet" />
<!-- ================== END core-css ================== -->
</head>
<body >		
	<!-- BEGIN #app -->
	<div id="app" class="app app-full-height app-without-header text-center">
		<div class="coming-soon">
			<div class="flex-1">				
        <h1 id="error" class="alert alert-danger" th:if="${session[SPRING_SECURITY_LAST_EXCEPTION]}" th:utext="#{message.logoutError}">error</h1>
                
        <h1 id="success" class="" th:utext="#{message.regSucc}"> success</h1>
        <a  th:href="@{/login}" th:utext="#{label.form.loginLink}">login</a>
        <div th:insert="theme/theme_util::theme_util"></div>
        </div>
        
        
        
    </div>
    
    </div>
        
    
    
</body>

<div th:include="theme/footer::staticFooter"></div>	

</html>