<div th:fragment="editEmpContent">
<div id="content" class="app-content">
			<!-- BEGIN container -->
			<div class="container">
				<!-- BEGIN row -->
				<div class="row justify-content-center">
					<!-- BEGIN col-10 -->
					<div class="col-xl-10">
						<!-- BEGIN row -->
						<div class="row">
							<!-- BEGIN col-9 -->
							<div class="col-xl-9">
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="#">EMPLOYEE MANAGEMENT</a></li>
									<li class="breadcrumb-item"><a href="/employeeList">EMPLOYEE LIST</a></li>
									<li class="breadcrumb-item active">EDIT EMPLOYEE</li>
								</ul>
								
								<h1 class="page-header">
									Update Employee Information
								</h1>
								<form id="editEmployeeForm" action="editEmployeeDo" method="post" enctype='multipart/form-data'>
								<hr class="mb-4" />
								
								<!-- BEGIN #user_info -->
								<div id="user_info" class="mb-5">
									<h2><i class="fa-solid fa-id-card text-info"></i>  [[${empinfo.full_name}]]</h2>	
									<hr class="mb-4" />
									<h4>User Information </h4>									
									<div class="card">
										<div class="card-body pb-2">
												<div class="row mb-3 text-center">
													<div class="col-12 col-sm-12">
										                <div class="form-group">
															<label>Employee Image</label>							
															<div class="text-center">
																<img  th:src="*{'data:image/jpeg;base64,'+{empinfo.emp_image_encoded}}"  class="rounded-circle mx-auto d-block col-12 col-sm-6" id="previewImg"  src="" alt="Select an Image">
															</div>
															<hr/>
															<input accept="image/*" name="emp_image_m"  class="form-control" type="file" onchange="previewFile(this);"/>	
															
																 
															
										                </div>   
										                <!-- /.form-group -->
										              </div> 
										              </div>
													<div class="row mb-3">
													
													<div class="col-xl-12">
														 <div class="form-group mb-3">
											                  <label>Select Role</label>
											                        <select name="roleid" required="required" class="form-select"  id="slct_role">
																	    <option value="">Select Role</option>
																	    <option th:selected="(${roles.id} == *{empinfo.roleid})" th:each="roles : ${roles}" th:value="${roles.id}" th:text="${roles.name}"></option>
																    </select>
																   <input type="hidden" th:value="${empinfo.empid}" name="empid" />
														</div>
													</div>
													
												
												</div>
												
												
											
										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container rounded-bottom"><small>Set role of the employee to access the software permissions</small>
											                
										</div>
									</div>
								</div>
								
								
								
								<div id="employment" class="mb-5">
									<h4>Employment Information <i class="fa-solid fa-star text-danger"></i></h4>									
									<div class="card">
										<div class="card-body pb-2">

										<div class="row mb-3">
											<div class="col-12 col-sm-6">
												<div class="form-group">
												<label>Contact</label>
												<div class="input-group " id="">
																<input th:value="${empinfo.contract_start}" name="contract_start" required="required"  type="text" class="form-control datepicker-default"  placeholder="start date" />
																<span class="input-group-text">to</span>
																<input th:value="${empinfo.contract_end}" name="contract_end" type="text" class="form-control datepicker-default"  placeholder="end date" />
															</div>
												</div>
											</div>
											
											<div class="col-12 col-sm-6">
												<div class="form-group">
												<label>Full Name</label> <input name="full_name" th:value="${empinfo.full_name}"
														type="text" class="form-control" required="required"
														placeholder="Enter Full Name">
												</div>
											</div>
										</div>


										<div class="row mb-3">
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>Select Designation</label> <select name="designation"
														required="required" class="form-select" id="slct_role">
														<option value="">Select Designation</option>
														<option  th:each="roles : ${roles}" th:value="${roles.name}"
														th:selected="(${roles.name} == *{empinfo.designation})"
															th:text="${roles.name}"></option>
													</select>
												</div>
											</div>

											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>Workspace</label> <input name="workspace" th:value="${empinfo.workspace}"
														type="text" class="form-control" required="required"
														placeholder="Enter Workspace">
												</div>
											</div>
										</div>
										
										<div class="row mb-3">
							              <div class="col-12 col-sm-6">
							                <div class="form-group">
							                  <label>Work Email</label>
							                 <input name="email" readonly="readonly" th:value="${empinfo.email}" type="email" class="form-control"  required="required" placeholder="Enter Work Email">
							                </div>
							                <!-- /.form-group -->
							              </div>
							              <!-- /.col -->
							              <div class="col-12 col-sm-6">
							                <div class="form-group">
							                  <label>Nearest Chief</label>
							                  <input name="nearest_chief" th:value="${empinfo.nearest_chief}" type="text" class="form-control"  required="required" placeholder="Enter Nearest Chief">
							                </div>
							                <!-- /.form-group -->
							              </div>
							              <!-- /.col -->
							            </div>
							            
							            <div class="row mb-3">
								              <div class="col-12 col-sm-6">
								                <div class="form-group">
								                  <label>Employee Type</label> 
								                  
								                  <select name="employee_Type" th:field="*{empinfo.employee_Type}"
														required="required" class="form-select">
														<option value="">Select Type</option>
														<option value="Full Time">Full Time</option>
														<option value="Part Time">Part Time</option>
														<option value="Contractual">Contractual</option>

													</select>


												</div>
								                <!-- /.form-group -->                
								              </div>
								              <!-- /.col -->
								               <div class="col-12 col-sm-6">
								                <div class="form-group">
								                  <label>Work Phone</label>
								                 <input th:value="${empinfo.phone}" name="phone" type="tel" class="form-control"  required="required" placeholder="Enter Work Phone">
								                </div>
								                <!-- /.form-group -->                
								              </div>
								              <!-- /.col -->
								            </div>

									</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container rounded-bottom">
										<small>
											All the employment information is required!!
										</small>
										</div>
									</div>
								</div>
								
								<div id="documents" class="mb-5">
									<h4>Documents </h4>									
									<div class="card">
										<div class="card-body pb-2">
										<div class="row mb-3">
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>CV </label> <br/>
                 									<input name="doc_m_cv"  accept="application/pdf"  type="file" class="form-control"  placeholder="Enter CV">                
												</div>
											</div>
											
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>Certificate </label> <br/>
                  									<input name="doc_m_crt"  accept="application/pdf"  type="file" class="form-control"   placeholder="Enter Certificate copy">
                
												</div>
											</div>
											
										</div>
										
										<div class="row mb-3">
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>ID copy</label> <br/>
                  									<input name="doc_m_id"  accept="image/jpeg,image/png,application/pdf"  type="file" class="form-control"   placeholder="Enter ID copy">
                
												</div>
											</div>
											
											<div class="col-12 col-sm-6">
												<div class="form-group">
													<label>Others </label> <br/>
                 									<input name="doc_m_others"  accept="application/pdf"  type="file" class="form-control"  placeholder="Enter CV">
                
												</div>
											</div>
											
										</div>


									</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container rounded-bottom">
										<small class="">Documents are required to add employee.</small><br/>											
											<small class="img_size_warning">Only .pdf file allowed for CV and Certificates. Photo can be uploaded as ID copy.</small>
											         
										</div>
									</div>
								</div>
								
								<div id="personal" class="mb-5">
									<h4>Employee Personal Information</h4>									
									<div class="card">
										<div class="card-body pb-2">
											<div class="row mb-3">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>First Name</label>
                 <input th:value="${empinfo.first_name}" name="first_name" type="text" class="form-control"   placeholder="Enter First Name">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Last Name</label>
                  <input th:value="${empinfo.last_name}" name="last_name" type="text" class="form-control"   placeholder="Enter Last Name">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            
            
            <div class="row mb-3">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Private Email</label>
                 <input name="private_email" th:value="${empinfo.private_email}" type="email" class="form-control"   placeholder="Enter Private Email">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Closest Relative Full Description</label>
                  <input th:value="${empinfo.closest_relative_full}" name="closest_relative_full" type="text" class="form-control"   placeholder="Enter Closest Relative Full Description">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            
             <div class="row mb-3">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Full Address</label>
                 <input th:value="${empinfo.address_full}" name="address_full"  type="text" class="form-control"   placeholder="Enter Full Address">
                </div>
                <!-- /.form-group -->                
              </div>
              <!-- /.col -->
               <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Evening Phone</label>
                 <input name="phone_eve" th:value="${empinfo.phone_eve}" type="tel" class="form-control"   placeholder="Enter Evening Phone">
                </div>
                <!-- /.form-group -->                
              </div>
              <!-- /.col -->
            </div>
            
             <div class="row mb-3">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Social Security Number</label>
                 <input name="social_security_number" th:value="${empinfo.social_security_number}" type="text" class="form-control"   placeholder="YYYYMMDD-XXXX">
                </div>
                <!-- /.form-group -->                
              </div>
              <!-- /.col -->
               <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Gender</label>
                 <select th:field="*{empinfo.sex}" name="sex" class="form-select" >
                 	<option value="">Select</option>                 	
                 	<option value="Male">Male</option>
                 	<option value="Female">Female</option>
                 	<option value="Other">Other</option>
                 	
                 </select>
                </div>
                <!-- /.form-group -->                
              </div>
              <!-- /.col -->
            </div>
										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container rounded-bottom">
										<small>
											Employee can add/edit personal information later.
										</small>
										</div>
									</div>
								</div>
								
								<div id="account" class="mb-5">
									<h4>Employee Account Information</h4>									
									<div class="card">
										<div class="card-body pb-2">
											<div class="row mb-3">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Bank Name</label>
                 <input th:value="${empinfo.bank_name}" name="bank_name" type="text" class="form-control"  placeholder="Enter Bank Name">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Account Number</label>
                  <input th:value="${empinfo.account_number}" name="account_number" type="text" class="form-control"   placeholder="Enter Bank Account Number">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            
            
            <div class="row mb-3">
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Clearing Number</label>
                 <input th:value="${empinfo.clearing_number}" name="clearing_number" type="text" class="form-control"  placeholder="Enter Clearing Number">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
              <div class="col-12 col-sm-6">
                <div class="form-group">
                  <label>Table Tax</label>
                  <input th:value="${empinfo.table_tax}" name="table_tax" type="text" class="form-control"   placeholder="Enter Table Tax">
                </div>
                <!-- /.form-group -->
              </div>
              <!-- /.col -->
            </div>
            
										</div>
										<div class="card-arrow">
											<div class="card-arrow-top-left"></div>
											<div class="card-arrow-top-right"></div>
											<div class="card-arrow-bottom-left"></div>
											<div class="card-arrow-bottom-right"></div>
										</div>
										<div class="hljs-container rounded-bottom"><small>
											Employee can add/edit Account information later.
										</small>
										</div>
									</div>
								</div>

								<div class="row mb-3 ">
								
									<div class="col-12 col-sm-12 ">
										<input class="btn btn-success d-block w-100 fw-500 mb-3" value="Submit Modification" type="submit"/>
									</div>
									
								</div>

							</form>
								
							</div>
							<!-- END col-9-->
							<!-- BEGIN col-3 -->
							<div class="col-xl-3">
								<!-- BEGIN #sidebar-bootstrap -->
								<nav id="sidebar-bootstrap" class="navbar navbar-sticky d-none d-xl-block">
									<nav class="nav text-nowrap">
										<a class="nav-link" href="#user_info" data-toggle="scroll-to">User Info</a>
										<a class="nav-link" href="#employment" data-toggle="scroll-to">Employment Info</a>
										<a class="nav-link" href="#documents" data-toggle="scroll-to">Documents</a>
										<a class="nav-link text-nowrap" href="#personal" data-toggle="scroll-to">Personal Info</a>										
										<a class="nav-link" href="#account" data-toggle="scroll-to">Account Info</a>
																				
									</nav>
								</nav>
								<!-- END #sidebar-bootstrap -->
							</div>
							<!-- END col-3 -->
						</div>
						<!-- END row -->
					</div>
					<!-- END col-10 -->
				</div>
				<!-- END row -->
			</div>
			<!-- END container -->
		</div>
		
	<script>
		
	</script>
</div>
	